h1 test print check
h1 test print check

p.result asd
input(type='button', value='Print code', onclick='openWin()')

script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js")
script(src='/javascripts/print_check.js')
